.form-label{
    font-weight: bold;
}
.total-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bolder;
    margin-top: 1rem;
}
.submit-purchase{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}